nav[data-toggle="toc"] {
  top: 42px;
}

/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle="toc"] {
    margin-bottom: 42px;
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  /* nav[data-toggle="toc"] .nav .active .nav {
    display: none;
  }*/
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
}


.navbar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.collapse {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-correct {
  padding-top: 70px;
}

.sticky-correct {
  padding-top: 20px;
}

.zero-margin {
  margin: 0px;
}

/* don't wrap inline code */
p code,
table code {
  white-space: nowrap;
}

.container {
  max-width: 1000px;
  /*padding-top: 40px;
  padding-bottom: 40px;*/
}

footer {
  margin-top: 50px;
  text-align: center;
}

/* large screens */
@media (min-width: 768px) {
  h1:first-child {
    margin-top: 0;
  }
}

.content a {
  text-decoration: underline
}
.content a:link {
  color:#282828;
}
.content a:visited {
  color:#383838
}
.content a:hover {
  color:#FF4136
}
.content a:active {
  color:#85144b
}
