<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <!--[if lt IE 9]>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css"
      />
    <![endif]-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ site.baseurl }}/assets/css/bootstrap-toc.css"
      media="screen"
      charset="utf-8"
    />
    <link
      rel="stylesheet"
      href="{{ site.baseurl }}/assets/css/screen.css"
      media="screen"
      charset="utf-8"
    />
    <link
      rel="stylesheet"
      href="{{ site.baseurl }}/assets/css/pygments-github.css"
      media="screen"
      charset="utf-8"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap-toc.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
    <script type="text/javascript">
      (function(i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function() {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "//www.google-analytics.com/analytics.js",
        "ga"
      );

      ga("create", "UA-19048260-11", "auto");
      ga("send", "pageview");
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://cdn.plot.ly/plotly-basic-1.47.3.min.js"></script>
  </head>
  <body data-spy="scroll" data-target="#toc">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-md-9" id="navbarNavAltMarkup">
          <ul class="navbar-nav">
            <li class="nav-item">
              {% assign collection_pages = site.pages | where: 'collection', page.collection %}
              {% assign main_page = collection_pages | sort: 'order' | first %}
              <a class="nav-link active" href="{{ site.baseurl }}{{ main_page.url }}">
                Главная
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Содержание
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% assign collection_pages = site.pages | where: 'collection', page.collection %}
                {% assign collection_sorted = collection_pages | sort: 'order' %}
                {% for p in collection_sorted %}
                  <a class="dropdown-item" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
                {% endfor %}
              </div>
            </li>
          </ul>
          <div class="navbar-nav ml-auto">
            {% assign collection_pages = site.pages | where: 'collection', page.collection | where_exp: 'item', 'item.order < page.order' %}
            {% assign next_page = collection_pages | sort: 'order' | last %}
            {% if next_page %}
              <a class="nav-item nav-link" href="{{ site.baseurl }}{{ next_page.url }}">
                <i class="fas fa-caret-left"></i> Предыдущая
              </a>
            {% endif %}
            {% assign collection_pages = site.pages | where: 'collection', page.collection | where_exp: 'item', 'item.order > page.order'%}
            {% assign next_page = collection_pages | sort: 'order' | first %}
            {% if next_page %}
              <a class="nav-item nav-link" href="{{ site.baseurl }}{{ next_page.url }}">
                Следующая <i class="fas fa-caret-right"></i>
              </a>
            {% endif %}
          </div>
        </div>
      </div><!-- container -->
    </nav>
    <div class="container navbar-correct">
      <div class="row">
        <div class="col-md-9 content">
          <h1>{{ page.title }}</h1>
          <hr style="margin-bottom: 10px">
          <div class="row">
            <div class="col-sm-6 text-right">
              <span style="color: #666; font-weight: 400; font-size: 14px;">author:</span>
              <a href="{{ page.author.link }}" style="text-decoration: none; font-weight: 450; font-size: 14px;">
                {{ page.author.name }}
              </a>
            </div>
            <div class="col-sm-6 text-left">
                <span style="color: #666; font-weight: 400; font-size: 14px;">date:</span>
              <a style="text-decoration: none; font-weight: 450; font-size: 14px;">
                {{ page.date }}
              </a>
            </div>
          </div>
          <hr style="margin-top: 10px">
          {{ content }}
          <footer>
            <script>
              !(function(d, s, id) {
                var js,
                  fjs = d.getElementsByTagName(s)[0],
                  p = /^http:/.test(d.location) ? "http" : "https";
                if (!d.getElementById(id)) {
                  js = d.createElement(s);
                  js.id = id;
                  js.src = p + "://platform.twitter.com/widgets.js";
                  fjs.parentNode.insertBefore(js, fjs);
                }
              })(document, "script", "twitter-wjs");
            </script>
          </footer>
        </div>
        <div class="col-md-3 d-none d-sm-none d-md-block">
          <nav id="toc" data-toggle="toc" class="sticky-top sticky-correct"></nav>
        </div>
      </div>
    </div>
  </body>
</html>
